@import url(https://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700);

body{

  font-family: 'Cinzel Decorative', cursive;
  font-size: 16px;
  padding: 0;
  margin: 0 auto;

}
.parallax {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 1px;
    perspective: 1px;

    -webkit-perspective-origin-y:120%;
    perspective-origin-y:120%;
}



.parallax__layer {

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;


}
.parallax__layer--base {


  -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.parallax__layer--back {



  -webkit-transform: translateZ(-1px) scale(2);
  transform: translateZ(-2px) scale(3);


}

.backgroundHolder {
  background-image: url(../Media/backgroundImage.jpg);



  margin: 0;
  padding: 0;
  position: absolute;
  top: -300px;
  bottom: -1200px;
  left: 0;
  right: 0;
}

section {
  height: 400px;
  position: relative;
  top: 200px;
}
section.name {
  top: 100px;
}
section p {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
section.interests{
  top: 200px;
}



.pictureHolder {
  background-image: url(../Media/myPic.jpeg);
  width: 250px;
  height: 250px;
  margin: auto;
  border: 3px solid black;
  border-radius: 200px;
}
.music {
  margin: auto;

}
h1 a {
  text-align: center;
  text-decoration: none;
  color: #000;
  font-size: 40px;
}
h1 {
  text-align: center;
  text-decoration: none;
  color: #000;
  font-size: 40px;
}

h2 {
  text-align: center;
  width: 40%;
  margin: auto;
  font-size: 30px;

}
h2 a {
  text-decoration: none;
  color: #000;
}

section p {
  padding-bottom: 30px;
}

#me {
  margin: auto;

  width: 60%;
  text-align: center;
}
.spacer{
  height: 100px;
}


.musicDiv {
  height: 250px;
  width: 20%;
  float: left;
  margin: 0px 2.5%;
  border: 0px solid black;
  border-radius: 15px;
  -moz-border-radius: 15px;
  overflow: hidden;
  position: relative;
}
.projDiv {
  height: 250px;
  width: 20%;
  float: left;
  margin: 0px 2.4%;
  border: 1px solid black;
  border-radius: 15px;
  -moz-border-radius: 15px;
  overflow: hidden;
  position: relative;
  -webkit-transition: background 2s ease-in-out;
  -moz-transition: background 2s ease-in-out;
  -o-transition: background 2s ease-in-out;
  transition: background 2s ease-in-out;
  background-size: 100%;
}

#pd1 {}
#pd2 {}
#pd3 {}
#pd4 {}
#pd5 {}

nav {
  position:absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: rgba(120, 121, 127, 0.3);
  padding: 0px 0px 0px 0px;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

nav ul li ul li a {
  text-align: left;
}

nav ul li a {
  display: inline-block;
  text-decoration: none;
  padding: 10px 15px;
  position: relative;
  color: #000;
  width: 100%;
  text-align: center;
}
nav ul li a:visited {
  text-decoration: none;
  color: #000;
}
nav ul li:hover > ul {
  display: block;
}


nav > ul > li {
  float: left;
  width: 12.5%;
  padding: 0px 2%;
}
nav > ul > li > a {
  font-weight: 700;
}

nav ul ul {
  position: absolute;
  top: 100%;
  display: none;
}

nav ul ul ul {
  top: 0px;
  left: 100%;

}

nav ul ul li {
  position: relative;
}

.type{
  position: relative;
  left: 0px;
  width: 100%;
  top: 110px;
  text-align: center;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

#mapdiv{
  margin: auto;
}

#long{
  height: 600px;
}
